<div class="content container">
<div class="panel panel-info">
	<div class="panel-heading">
        	<h1>Sign Up</h1>
        	<h4>Get ready to start planning your events!</h4>
      </div>
      <div class="panel-body">

<%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	<%= f.inputs do%>

	

		<div class="row-fluid">
			<div class="col-md-12">
				<h3> Login Details </h3>
			</div>
			<div class="col-md-8">
				EMAIL <%= f.input :email, :required => true, :autofocus => true, :label=>false,:value=>"Email" %>
			</div>
			<div class="col-md-8">
		    	PASSWORD <%= f.input :password, :required => true, length: { in: 6..20 }, :label=>false, :hint=>"Must contain letters, numbers and special characters",:value=>"Password"%>
		    </div>
			<div class="col-md-8">
		    	CONFIRM PASSWORD <%= f.input :password_confirmation, :required => true, length: { in: 6..20 }, :label=>false,:value=>"Confirm Password"%>
			</div>
			<div class="col-md-12">
				<hr>
			</div>
		</div> <!--row fluid-->




		<div class="row-fluid">
			<div class="col-md-12">
				<h3> Personal Details </h3>
			</div>
				<hr>

		<div class="col-md-4">
			FIRST NAME 
			<%= f.input :first_name, :required => true,  :autofocus => true, :label=>false %>
	  	</div>
		<div class="col-md-4">
			LAST NAME
		    <%= f.input :last_name, :required => true,  :autofocus => true, :label=>false  %>
		</div>
		<div class="col-md-8">    
			MOBILE NUMBER
			<%= f.input :mobile, :required => true,  :autofocus => true, :label=>false  %>
	 	</div>
		<div class="col-md-8">	    
			TELEPHONE NUMBER
		    <%= f.input :telephone, :required => true,  :autofocus => true, :label=>false  %>
	  	</div>
		<div class="col-md-12">	   
			BIRTHDAY
		    <%= f.input :birthday, :required => true,  :autofocus => true, :label=>false  %>
		</div>

	</div> <!-- row-fluid for Personal Details -->



<center>
  <br>
  <hr>
    <% end %>
 
<div class="row-fluid">
	<hr>

    	<%= f.action :submit, :button_html => { :class => "btn btn-info pull-right"}%>

 </div>


<% end %>

<br><br>
	


</div> <!--panel-body-->

</div> <!--container -->
<center>
	Already have an account? 
	<%= render "devise/shared/links" %>

	</center>
</div> <!--content-->
<br><br>