<h1>Listing bookings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date reserved</th>
      <th>Starts at</th>
      <th>Ends at</th>
      <th>All day</th>
      <th>Status</th>
      <th>Message</th>
      <th>Expiry date</th>
      <th>Is viewed</th>
      <th>All reserved</th>
      <th>Venue</th>
      <th>Room</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.title %></td>
        <td><%= booking.date_reserved %></td>
        <td><%= booking.starts_at %></td>
        <td><%= booking.ends_at %></td>
        <td><%= booking.all_day %></td>
        <td><%= booking.status %></td>
        <td><%= booking.message %></td>
        <td><%= booking.expiry_date %></td>
        <td><%= booking.is_viewed %></td>
        <td><%= booking.all_reserved %></td>
        <td><%= booking.venue_id %></td>
        <td><%= booking.room_id %></td>
        <td><%= booking.user_id %></td>
        <td><%= link_to 'Show', venue_room_booking_path(@venue, @room, booking) %></td>
        <td><%= link_to 'Edit', edit_venue_room_booking_path(@venue, @room, booking) %></td>
        <td><%= link_to 'Delete', venue_room_booking_path(@venue, @room, booking), :class => "btn btn-sm btn-space btn-danger pull-right", method: :delete,
        data: { confirm: 'Are you sure you want to delete this room?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_venue_room_booking_path %>
