<div class="col-md-12">

  <div class="container-960">

    <div class="container dashboard-wrapper">

	<% if supplier_signed_in? %>
		<%= render partial: "pages/supplier" %>
	<% else %>
		<%= render partial: "pages/user" %>
	<% end %>

    <div class="col-sm-3">

      <table class="table col-sm-12 dashboard-table">
        <tbody>
          <tr class="account-type-wrapper">
            <td class="col-sm-9">
 
              <% if supplier_signed_in? %>
               <span class="account-name">
              	Hi, <%= current_supplier.first_name %>!
              </span>
                <span id="venue-provider-label">Venue Provider
                </span>
              <% else %>
                <span class="account-name">
              	Hi, <%= current_user.first_name %>!
              </span>
                <span id="event-planner-label">Event Planner
                </span>
              <% end %>
            </td>


            <td class="col-sm-3 text-right">
             <% if supplier_signed_in? %>

                  <span class="fa-stack fa-lg fa-account-type" style="width: 1.75em" id="venue-provider">
                    <i class="fa fa-circle fa-vp fa-stack-2x"></i>
                    <span id="account-type" class="fa-stack-1x">VP</span>
                  </span>
               
                <% else %>

                  <span class="fa-stack fa-lg fa-account-type" id="event-planner">
                    <i class="fa fa-circle fa-ep fa-stack-2x"></i>
                    <span id="account-type" class="fa-stack-1x">EP</span>
                  </span>

              <% end %> 
            </td>
          </tr>

          <tr>
            <td class="table-label col-sm-6">Type</td>
            <td class="table-answer text-right col-sm-6">Paid</td>
          </tr>

          <tr>
            <td class="table-label col-sm-6">Duration</td>
            <td class="table-answer text-right col-sm-6">1 yr</td>
          </tr>

          <tr>
          

            <td class="col-sm-6">

             
              <%= link_to '<i class="fa fa-cog fa-gray" style=" margin-right: 0.22em;" id="account-settings"></i>'.html_safe, edit_user_registration_path %>
            
              <%= link_to '<i class="fa fa-power-off fa-gray" id="log-out"></i>'.html_safe, destroy_user_session_path, :method => :delete  %>

            </td>

            <td class="text-right">
              
              <span class="label label-light" style="display: none" id="account-settings-label">Settings</span>
              <span class="label label-light" style="display: none" id="log-out-label">Log out</span>
           
            </td>


          </tr>
        </tbody>
      </table> 

        <table class="table table-hover col-sm-12 supplier-table">
          <thead>
            <tr>
              <td colspan="2" class="text-right">
              <span class="table-heading">Quick Links</span>
              </td>
            </tr>
          </thead>

          <tbody>
                  <tr>
                    <td class="table-label">Landing Page</td>
                    <td class="table-answer text-right">
                      
                    </td>
                  </tr>

                  <tr>
                    <td class="table-label">Venue Search</td>
                    <td class="table-answer text-right">
                      
                    </td>
                  </tr>

                  <tr id="last">
                    <td class="table-label">FAQ</td>
                    <td class="table-answer text-right">
                      
                    </td>
                  </tr>
          </tbody>
        </table> 

<script type="text/javascript">
  $("i#account-settings").hover(
      function(e) {
        e.preventDefault();
         $("span#account-settings-label").fadeIn(400, 'linear');
      },
      function(e) {
        e.preventDefault();
         $("span#account-settings-label").hide();
      }
  );

  $("i#log-out").hover(
      function(e) {
        e.preventDefault();
         $("span#log-out-label").fadeIn(400, 'linear');
      },
      function(e) {
        e.preventDefault();
         $("span#log-out-label").hide();
      }
  );

</script>


           

    </div><!--container-->



  </div>
</div>


