<%= form_for(@venue) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :classification %><br>
    <%= f.text_field :classification %>
  </div>
  <div class="field">
    <%= f.label :capacity %><br>
    <%= f.text_field :capacity %>
  </div>
  <div class="field">
    <%= f.label :is_featured %><br>
    <%= f.check_box :is_featured %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_area :location %>
  </div>
  <div class="field">
    <%= f.label :environment %><br>
    <%= f.text_area :environment %>
  </div>
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_area :comments %>
  </div>
  <div class="field">
    <%= f.label :rates %><br>
    <%= f.text_area :rates %>
  </div>
  <div class="field">
    <%= f.label :contact_persons %><br>
    <%= f.text_area :contact_persons %>
  </div>
  <div class="field">
    <%= f.label :contact_numbers %><br>
    <%= f.text_area :contact_numbers %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :booking_count %><br>
    <%= f.number_field :booking_count %>
  </div>
  <div class="field">
    <%= f.label :caterers %><br>
    <%= f.text_area :caterers %>
  </div>
  <div class="field">
    <%= f.label :policy %><br>
    <%= f.text_area :policy %>
  </div>
  <div class="field">
    <%= f.label :is_booked %><br>
    <%= f.check_box :is_booked %>
  </div>
  <div class="field">
    <%= f.label :freeroom_count %><br>
    <%= f.number_field :freeroom_count %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <!--
  <%= form_for [@uploadable, @asset] do |form| %>
    <%= form.file_field :photo %>
    <%= form.submit "Submit", class: "btn btn-success"  %>
  <% end %> -->

<% end %>
