<div class="container">

  <div class="col-md-12">
    <div class="dash panel-dash">
      <div class="panel-heading col-xs-12">
        <div class="col-xs-8">
          <i class="fa fa-location-arrow fa-2x"></i>
          <span class="announcement-heading">Venues</span>
        </div> 
        <div class="col-xs-4 text-right">
          <span class="label label-light" style="display: none" id="add-venue-label"> Add Venue</span>
          <%= link_to '<i class="fa fa-plus-circle fa-2x fa-gray fa-orange"></i>'.html_safe, new_venue_path %> 
        </div>
      </div>
      <div class="panel-body">
      <dl>
        <% @venues.each do |venue|  %>
       
        
          <dt class="card-frame">

            <div class="card-label"><%= venue.classification %></div>
            
            <% if venue.assets.count > 0 %>
                <%= image_tag (Venue.find(venue.id).assets.last.photo.url(:index)), class: "card-image" %>
                <% else %>
                <img src="http://placekitten.com/250/200" class="card-image">
             <% end %>

            <div class="card-name"><%= link_to "#{venue.name}".html_safe, venue_path(venue.id) %> </div>  

            <div class="card-action text-right">
              <%= link_to '<i class="fa fa-pencil-square-o" style="margin-right: 0.6em;"></i>'.html_safe, edit_venue_path(venue.id) %> 
              <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, venue_path(venue.id), method: :delete, confirm: "Are you sure you want to delete this venue?"%>

            </div>


          </dt><!--card frame-->

        
        <% end %>  
      </dl>
      </div><!--panel-body--> 
    </div><!--end panel-->
  </div>

</div>
