<div class="container">

  <div class="col-md-12 col-xs-12 no-padding">

    <div class="col-xs-4 show-box no-padding"> 

      <div class="classification">
        <span><%= @venue.classification %></span>
      </div><!--venue classification-->

      <div class="name">
        <span><%= @venue.name %></span>
        <p>
        Found in <%= @venue.location %> <br>
        <br>
        <strong><%= @venue.capacity %></strong> people could fit here <br>
        <strong><%= @venue.booking_count %></strong> people
        have booked this venue <br>
        Only <strong><%= @venue.freeroom_count %></strong> rooms left <br>
        </p>
      </div> <!--name-->

      <div class="numbers">
      </div>
    </div><!--col-->

    <div class="col-xs-8 no-padding">
        <img src="http://placekitten.com/620/300" class="img-responsive">
    </div><!--col-->

  </div><!--col-md-12-->


  <div class="col-md-12 col-xs-12 no-padding">

    <div class="col-md-7 right-padding"> 

      <div class="panel panel-show" id="panel-details">

        <div class="panel-heading">
        Details
        </div><!--panel heading-->

        <div class="panel-body">

        <div class="col-xs-12 panel-row">
          <div class="col-xs-4 show-label">Address
          </div> 
          <div class="col-xs-8 response"><%= @venue.address %>, <%= @venue.location %>
          </div>
        </div>

        <div class="col-xs-12 panel-row">
          <div class="col-xs-4 show-label">Rates
          </div> 
          <div class="col-xs-8 response"><%= @venue.rates %></div>
        </div>

        <div class="col-xs-12 panel-row">
          <div class="col-xs-4 show-label">Policy
          </div> 
          <div class="col-xs-8 response"><%= @venue.policy %></div>
        </div>

        <div class="col-xs-12 panel-row">
          <div class="col-xs-4 show-label">Caterers
          </div> 
          <div class="col-xs-8 response"><%= @venue.caterers %></div>
        </div>


        </div> <!--panel body-->    

      </div><!--panel-->   

    </div><!--col-->

    <div class="col-md-5 left-padding">

      <div class="panel panel-show" id="panel-contact">


        <div class="panel-heading">
        Contact
        </div><!--panel heading--> 

        <div class="panel-body">

          <div class="col-xs-7 panel-col">

            <span><strong><%= @venue.contact_persons %></strong></span><br>
            <p><%= @venue.email %><br>
            <%= @venue.contact_numbers %></p>
          </div> <!--panel-col-->

          <div class="col-xs-5">

            <img src="http://placekitten.com/100/100" class="img-circle">
            
          </div><!--panel-col-->


        </div><!--panel body--> 



      </div><!--panel-->   
      
    </div><!--col-->


  </div><!--col-12-->


  <div class="col-md-12 col-xs-12 no-padding">

    <div class="col-md-6 right-padding"> 

      <div class="panel panel-show" id="panel-rooms">
        <div class="panel-heading">
        Rooms
        </div><!--panel heading--> 

        <div class="panel-body">

        <div class="col-xs-12 panel-row no-padding">

          <div class="col-xs-6 right-padding">
            <img src="http://placekitten.com/200/150">
          </div>

          <div class="col-xs-6 left-padding">
            <img src="http://placehold.it/200x150">
          </div>

        </div><!--panel row-->


        </div><!--panel-body-->     
      </div><!--panel-->   

    </div><!--col-->

    <div class="col-md-6 left-padding">

      <div class="panel panel-show" id="panel-photos">

        <div class="panel-heading">
        Photos
        </div><!--panel heading--> 


        <div class="panel-body">

        <div class="col-xs-12 panel-row no-padding">
          <div id="links">
              <div class="col-xs-6 right-padding">
                  <a href="http://placekitten.com/640/480" title="Room 1" data-gallery>
                      <img src="http://placekitten.com/200/150" alt="Room 1">
                  </a>
              </div>

              <div class="col-xs-6 left-padding">
                <a href="http://placehold.it/640x480" title="Room 2" data-gallery>
                    <img src="http://placehold.it/200x150" alt="Room 2">
                </a>

              </div>
          </div>          

        </div><!--panel row-->

        </div><!--panel-body-->  


      </div><!--panel-->   
      
    </div><!--col-->


  </div><!--col-12-->




</div><!--container-->

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>