<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @venue.address %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @venue.classification %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @venue.capacity %>
</p>

<p>
  <strong>Is featured:</strong>
  <%= @venue.is_featured %>
</p>

<p>
  <strong>Location:</strong>
  <%= @venue.location %>
</p>

<p>
  <strong>Environment:</strong>
  <%= @venue.environment %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @venue.comments %>
</p>

<p>
  <strong>Rates:</strong>
  <%= @venue.rates %>
</p>

<p>
  <strong>Contact persons:</strong>
  <%= @venue.contact_persons %>
</p>

<p>
  <strong>Contact numbers:</strong>
  <%= @venue.contact_numbers %>
</p>

<p>
  <strong>Status:</strong>
  <%= @venue.status %>
</p>

<p>
  <strong>Booking count:</strong>
  <%= @venue.booking_count %>
</p>

<p>
  <strong>Caterers:</strong>
  <%= @venue.caterers %>
</p>

<p>
  <strong>Policy:</strong>
  <%= @venue.policy %>
</p>

<p>
  <strong>Is booked:</strong>
  <%= @venue.is_booked %>
</p>

<p>
  <strong>Freeroom count:</strong>
  <%= @venue.freeroom_count %>
</p>

<p>
  <strong>Email:</strong>
  <%= @venue.email %>
</p>

<p>
  <strong>User:</strong>
  <%= @venue.user_id %>
</p>


<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
