<h1>Listing rooms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Is booked</th>
      <th>Classification</th>
      <th>Capacity</th>
      <th>Booking</th>
      <th>Venue</th>
      <th>Amenities</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= room.is_booked %></td>
        <td><%= room.classification %></td>
        <td><%= room.capacity %></td>
        <td><%= room.booking_id %></td>
        <td><%= room.venue_id %></td>
        <td><%= room.amenities %></td>
        <td><%= room.description %></td>
        <td><%= link_to 'Show', venue_room_path(@venue, room) %></td>
        <td><%= link_to 'Edit', edit_venue_room_path(@venue.id, room) %></td>
        <td><%= link_to 'Delete', venue_room_path(@venue, room), :class => "btn btn-sm btn-space btn-danger pull-right", method: :delete,
        data: { confirm: 'Are you sure you want to delete this room?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_venue_room_path %>
