<!DOCTYPE html>
<html>
<head>
  <title>Eventplannerph</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  
</head>


<header>
    <% if user_signed_in? ||  supplier_signed_in? %>
    <%= render partial: "layouts/signed" %>
    <% else %>
    <%= render :partial => "layouts/unsigned" %>
    <% end %>
</header>

<body>

<%= yield %>



</body>
</html>
