<!DOCTYPE html>
<html>
<head>
  <title>Eventplannerph</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  
</head>


<body>

  <% if user_signed_in? ||  supplier_signed_in? %>
    <%= render partial: "layouts/offcanvas" %>
  <% else %>
  <% end %>

<div class="page-wrap">

  <header class="main-header">
    <% if user_signed_in? ||  supplier_signed_in? %>
      <%= render partial: "layouts/signed" %>
    <% else %>
      <%= render :partial => "layouts/unsigned" %>
    <% end %>
  </header>


  <div class="content">
    <%= yield %>
  </div>

</div><!--page-wrap-->



</body>
</html>
